PORT=3000
ALLOWED_ORIGIN=http://localhost:3000

# En producción, reemplaza con la URL de tu frontend desplegado en Vercel.
# Si necesitas varios orígenes, separa con comas:
# ALLOWED_ORIGIN=https://petsystem-frontend.vercel.app,https://otro-frontend.com

RECAPTCHA_SECRET_KEY=tu_recaptcha_secret_key
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=tu-email@gmail.com
SMTP_PASS=tu_contraseña_de_aplicación
CONTACT_TO_EMAIL=correo_destino@example.com
MONGODB_URI=tu_mongodb_uri
ADMIN_USER=cristoferperez
ADMIN_PASS=65Cr1srt0f3r
